<%- include("partials/header"); -%>
<body style="padding: 7% 3%;">
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top ps-5 pe-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Filmmoz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link" href="/recycle"> <button class="btn btn-success rounded-circle"><i class="bi bi-trash3"></i></button> </a>
          </li>
              <li class="nav-item" >
                <a class="nav-link" href="/newclient"> <button class="btn btn-primary">New client</button> </a>
              </li>
        </ul>
        <a class="ps-2 text-light" href="/logout"><button class="btn btn-danger">Logout</button> </a>
      </div>
    </div>
  </nav> 
  <%- include("partials/asideMenu.ejs"); -%>
  <style>
    .shadow-custom{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .client {
        background-color: #3d3d3d !important;
        color: #ffffff;
    }
  </style>
    <div class="row ms-auto me-0" style="max-width: 80%;">

      <% for (let i = 0; i < result.length; i++) { %>

        <% var clientName = result[i].name %>
        <% var counter = 0 %>
        <% var viewCount = 0 %>
        <% var priceSum = 0 %>
        <% for(j = 0; j < movies.length; j++){ %>
        <%  if(movies[j].client_name == clientName){ %>
        <%     viewCount = viewCount + movies[j].view_count;  %>
        <%     priceSum = (movies[j].view_count - movies[j].pre_month_views)  * movies[j].price_per_view + priceSum %>
        <%     counter++; %>
        <%  } %>
        <% } %>

      <div class="col-12 col-lg-4 mb-4">

        <div class="card h-100 bg-light text-dark shadow-custom" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center text-uppercase"><%= result[i].name %> </h5>    


            
            <br>
            <h6 class="card-subtitle mb-2 text-dark d-flex justify-content-between"><span>Total Movies</span>   <span><%= counter %></span></h6>
            <hr>
            <h6 class="card-subtitle mb-2 text-dark d-flex justify-content-between"><span>Total Views</span>  <span><%= viewCount %></span></h6>
            <br>
            <form action="/clientMovies" class="text-center" method="post">
              <input type="text" name="name" value="<%= result[i].name %>" hidden>
              <button class="btn btn-outline-dark m-auto w-100" type="submit">View Movies</button>
            </form>
         
          </div>
          <ul class="list-group list-group-flush bg-transparent text-dark">
            <li class="list-group-item bg-transparent text-dark">
              <a type="button" class="text-decoration-none link-dark d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#Bill<%= [i] %>">
                <span><i class="bi bi-receipt"></i>&ensp; Bill</span> <span><%= priceSum /100  %>  ₹</span>  
              </a>
            </li>
            <li class="list-group-item bg-transparent text-dark">
              <a type="button" class="text-decoration-none link-dark " data-bs-toggle="modal" data-bs-target="#history<%= [i] %>">
                <i class="bi bi-clock-history"></i>&ensp; history
              </a>
            </li>
            <li class="list-group-item d-flex bg-transparent text-dark">

              <div class="btn-group w-100" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-dark border-0" data-bs-toggle="modal" data-bs-target="#delete<%= [i] %>">
                  <i class="bi bi-trash-fill" style="font-size: larger;"></i>
                </button>
                <button type="button" class="btn btn-outline-dark border-0"  data-bs-toggle="modal" data-bs-target="#edit<%= [i] %>">
                  <i class="bi bi-pen-fill" style="font-size: large;"></i>
                </button>
                <button type="button" class="btn btn-outline-dark border-0" data-bs-toggle="modal" data-bs-target="#info<%= [i] %>">
                  <i class="bi bi-info-square-fill" style="font-size: large;"></i>
                </button>
              </div>

            </li>
          </ul>
        </div>

      </div>

                                <!-- BILL MODAL -->
      <div class="modal fade" id="Bill<%= [i] %>" tabindex="-1" aria-labelledby="Bill" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <% var date = new Date(); %>
              <%var from = date.getMonth()+1 + "-" + date.getFullYear() %>
              <h1 class="modal-title fs-5" id="exampleModalLabel"><%= from %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


              <table class="table table-striped m-0"">
                <thead>
                  <tr>
                    <th class="col-2" scope="col-1">Sr no.</th>
                    <th class="col-3" scope="col-7">Name</th>
                    <th class="col-2" scope="col-1">Views</th>
                    <th class="col-2" scope="col-1">Price</th>
                    <th class="col-2" scope="col-1">bill</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% for (let j = 0; j < movies.length; j++) { %>
                  <% if(movies[j].client_name == clientName){ %>
                  <tr>
                    <td><%= movies[j].movie_id %> </th>
                    <td><%= movies[j].title  %></td>
                    <td><%= movies[j].view_count - movies[j].pre_month_views  %></td>
                    <td><%= movies[j].price_per_view  %></td>
                    <td><%= ((movies[j].view_count - movies[j].pre_month_views)  * movies[j].price_per_view) / 100  %></td>
                  </tr>
                  <% } %>
                  <% } %>
                </tbody>
              </table>
                
              
              <div class="modal-footer">
                <h6 class="card-subtitle ms-0 me-auto">Total : <%= priceSum/100  %>&ensp; ₹</h6>
              </div>
              
            </div>
          </div>
        </div>
      </div>


                                            <!-- HISTORY MODAL -->
      <div class="modal fade" id="history<%= [i] %>" tabindex="-1" aria-labelledby="Bill" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">History</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6 class="card-subtitle mb-2">

                <table class="table m-0"">
                  <thead>
                    <tr>
                      <th class="col" scope="col-1">Date</th>
                      <th class="col" scope="col-1">Bill</th>
                      <th class="col" scope="col-1">Views</th>
                    </tr>

                  </thead>
                  
                  <tbody>
                    <% for (let j = 0; j < history.length; j++) { %>
                      <% if(history[j].client_name == clientName){ %>
                    <tr>
                      <td><%= history[j].date.toString().slice(0,10) %></td>
                      <td><%= history[j].total_bill / 100%></td>
                      <td><%= history[j].total_views%></td>
                    </tr>
                    <% } %>
                  <% } %>
                  </tbody>
                </table>
                
                
              </h6>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="delete<%= [i] %>" tabindex="-1" aria-labelledby="delete<%= [i] %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="/deleteClient" method="post">
            <div class="modal-header">
              
              <h1 class="modal-title fs-5" id="delete<%= [i] %>">DELETE!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete client <strong><%= clientName %></strong>
              <input type="text" name="id" value="<%= result[i].Id %>" hidden>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">DELETE!</button>
            </div>
          </form>
          </div>
        </div>
      </div>                            



      <div class="modal fade" id="edit<%= [i] %>" tabindex="-1" aria-labelledby="edit<%= [i] %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit<%= [i] %>">Edit Client details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="client-form" action="/editClient" method="post" enctype='application/x-www-form-urlencoded'>
              <input type="text" name="id" value="<%= result[i].Id %>" hidden>
                <div class="mb-3 col">
                    <label for="name" class="form-label">Name :</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" required value="<%= clientName %>">
                </div>
                <div class="mb-3 col">
                    <label for="Contact" class="form-label">Contact :</label>
                    <input type="number" class="form-control" name="contact" placeholder="Contact" required value="<%= result[i].client_contact %>">
                </div>
                <div class="mb-3 col">
                    <label for="email" class="form-label">Email :</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required value="<%= result[i].client_email %>">
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
                <div class="mb-3 col-6">
                  <form action="/updateAadhar" method="post" enctype="multipart/form-data">
                    <label for="Aadhar" class="form-label">Update Aadhar card :</label>
                    <input type="text" name="id" value="<%= result[i].Id %>" hidden>
                    <input type="text" name="loc" value="<%= result[i].aadhar %>" hidden>
                    <input type="file" class="form-control" name="Aadhar" placeholder="Aadhar card" onchange="submit(this)">
                  </form>
                </div>
                <div class="mb-3 col-6">
                  <form action="/updatePan" method="post" enctype="multipart/form-data">
                    <label for="Pan" class="form-label">Update Pan card :</label>
                    <input type="text" name="id" value="<%= result[i].Id %>" hidden>
                    <input type="text" name="loc" value="<%= result[i].pan %>" hidden>
                    <input type="file" class="form-control" name="Pan" placeholder="Pan card" onchange="submit(this)">
                  </form>
                </div>

                <script>
                  function submit(e){
                    this.form.submit()
                  };
                </script>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
          
          </div>
        </div>
      </div> 



      <div class="modal fade" id="info<%= [i] %>" tabindex="-1" aria-labelledby="info<%= [i] %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="info<%= [i] %>"><%= clientName %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <p>Contact no. : <%= result[i].client_contact %></p>
             <hr>
             <p>Email : <%= result[i].client_email %></p>
             <hr>
             <form action="/aadhar" method="post">
              <input type="text" name="aadhar" value="<%= result[i].aadhar %>" hidden>
              <button class="btn border-0" type="submit">Aadhar</button>
             </form>
             <hr>
             <form action="/pan" method="post">
              <input type="text" name="pan" value="<%= result[i].pan %>" hidden>
              <button class="btn border-0" type="submit">Pan</button>
             </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 

        
      <% } %> 

    </div>
    
    

  <%- include("partials/footer"); -%>

  