<%- include("partials/header"); -%>
<body>
  
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top ps-5 pe-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Filmmoz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <a class="ps-2 text-light" href="/logout"><button class="btn btn-danger">Logout</button> </a>
      </div>
    </div>
  </nav>
  <%- include("partials/asideMenu.ejs"); -%>
  <style>
    .dashboard {
        background-color: #1f1f1f !important;
        color: #ffffff;
    }
  </style>
  <section class="ms-auto me-0" style="width: 80%;">

    <div class="card mb-4 bg-primary text-light shadow-lg">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-film"></i> &ensp; Movies</h5>
        <hr>
        <p class="card-text">Total Movies : <%= movieCount %></p>
        <a href="/view" class="btn btn-light">Uploads</a>
      </div>
    </div>
    <div class="card mb-4 bg-warning text-dark shadow-lg">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-person-vcard"></i> &ensp; Clients</h5>
        <hr>
        <p class="card-text">No. of clients : <%= clientCount %></p>
        <a href="/clients" class="btn btn-primary">Clients</a>
      </div>
    </div>
    <div class="card mb-4 bg-success text-light shadow-lg">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-people"></i>&ensp; Users</h5>
        <hr>
        <p class="card-text">Total users : <%= userCount %></p>
        <a href="/user" class="btn btn-dark">Users</a>
      </div>
    </div>

  </section>

<%- include("partials/footer"); -%>