<%- include("partials/header"); -%>
<body style="padding: 2% 10%;">
<section>
    <div class="col">
      <div class="row">
        <h3 class="col-4 text-danger"><strong>Upload Movie</strong></h3>
        <a class="col-8 d-flex justify-content-end" href="/view"> <button class="btn btn-light btn-lg"><i class="bi bi-x-lg"></i></button></a>
      </div>
        <br>
        <% if(trigger == 1) { %> 
          <p style="color: red;">Already Exist!</p>
        <% } %> 
        <form id="upload-form" action="/upload" method="post" enctype='application/x-www-form-urlencoded'>
              <div class="form-group row">
                <label for="title" class="col-3 col-form-label">Movie Title:</label> 
                <div class="col-9">
                  <input id="title" name="title" placeholder="Movie Title" type="text" required="required" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="producer" class="col-3 col-form-label">Producer:</label> 
                <div class="col-9">
                  <input id="producer" name="producer" placeholder="Movie Producer" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="director" class="col-3 col-form-label">Director:</label> 
                <div class="col-9">
                  <input id="director" name="director" placeholder="Movie Director" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="actor" class="col-3 col-form-label">Actors:</label> 
                <div class="col-9">
                  <input id="actor" name="actor" placeholder="Actors Name" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="story" class="col-3 col-form-label">Story:</label> 
                <div class="col-9">
                  <textarea id="story" name="story" cols="40" rows="4" class="form-control" required="true"></textarea>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="language" class="col-3 col-form-label">Language:</label> 
                <div class="col-9">
                  <select id="language" class="form-select" aria-label="Default select example" required="true" name="language">
                    <option selected>Select Language</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Marathi">Marathi</option>
                    <option value="English">English</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="category">Category:</label> 
                <div class="col-9">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Action" id="action">
                    <label class="form-check-label" for="action">Action</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Drama" id="drama">
                    <label class="form-check-label" for="drama">Drama</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Comedy" id="comedy">
                    <label class="form-check-label" for="comedy">Comedy</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Horror" id="horror">
                    <label class="form-check-label" for="horror">Horror</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Adventure" id="adventure">
                    <label class="form-check-label" for="adventure">Adventure</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="language" class="col-3 col-form-label">Client:</label> 
                <div class="col-9">
                  <select id="client" class="form-select" aria-label="Default select example" required="true" name="client">
                    <option selected>Select Client</option>
                    <% for (let i = 0; i < result.length; i++) { %>
                      <option value="<%= result[i].name%>/<%= result[i].Id%>"><%= result[i].name%></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <br>
              

              <div class="form-group row">
                <label class="col-3 col-form-label" for="file">Select Movie:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="movie" id="upload_movie" required="true" accept="video/*, .mkv" />
                    <br>
                    <div class="progress">
                      <div class="progress-bar" style="width: 0;" id="bar0" role="progressbar" aria-label="Example with label" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              </div>

              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="img">Select Thumbnail:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="img" id="img" required="true" accept="image/*"/>
                    <br>
                    <div class="progress">
                      <div class="progress-bar" style="width: 0;" id="bar1" role="progressbar" aria-label="Example with label" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="img">Select Trailer:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="trailer" id="trailer" required="true" accept="video/*, .mkv"/>
                    <br>
                    <div class="progress">
                      <div class="progress-bar" style="width: 0;" id="bar2" role="progressbar" aria-label="Example with label" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="director" class="col-3 col-form-label">Price per view:</label> 
                <div class="col-9">
                  <input id="price" name="price" placeholder="Price" type="text" class="form-control" required="true">
                </div>
              </div>
                <br>
                <button id="submit" class="btn btn-outline-dark col-1" type="button" disabled> Submit</button>
                <button class="btn btn-danger col-1 mx-5"><a class="text-light" style="text-decoration: none;" href="/view"> Cancel</a></button>
                <button id="form-submit" class="btn btn-outline-dark col-1" type="submit" style="visibility: hidden;"> Submit</button>
              </div>
        </form>
        <br>
    </div>
  </section>
  <script src="/scripts/script.js"></script>
  <%- include("partials/footer"); -%>