<%- include("partials/header"); -%>
<section class="scrollable">
    <% for( let i = 0; i < rows.length; i++ ) { %>
        <div class="card mb-3 text-bg-warning">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <% var srow = rows[i].thumb_filr_name;  %>
                <% srow = srow.slice(34);  %>  
                <img src="uploads/thumbnails/<%= srow %>" alt="<%= srow %> " style="height:20vh">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    
                  <h5 class="card-title"><%= rows[i].title %></h5>
                  <div class="row">
                    <div class="col">
                        <p class="card-text">category : <%= rows[i].category %></p>
                        <p class="card-text">cost : <%= rows[i].cost %></p>
                    </div>
                    <div class="col">
                        <p class="card-text">client name : <%= rows[i].client_name %> </p>
                        <p class="card-text">view count : <%= view %> </p>
                    </div>
                  </div>
                  <p class="card-text"><small class="text-muted">Uploaded on:</small></p>
                </div>
              </div>
            </div>
          </div>         
        <% } %>
</section>
<%- include("partials/footer"); -%>